$color-soft-orange: hsl(35, 77%, 62%);
$color-soft-red: hsl(5, 85%, 63%);
$color-off-white: hsl(36, 100%, 99%); 
$color-grayish-blue: hsl(233, 8%, 79%);
$color-dark-grayish-blue: hsl(236, 13%, 42%);
$color-very-dark-blue: hsl(240, 100%, 5%);
$color-very-dark-blue-transparent:  rgba(0, 0, 26, 0.5);

$color-text-title: $color-very-dark-blue;
$color-overlay-menu: $color-very-dark-blue-transparent;

$color-primary-paragraph: $color-dark-grayish-blue;
$color-secondary-paragraph: $color-grayish-blue;
$color-text-main-menu-hover: $color-soft-red;

$color-button: $color-soft-red;
$color-button-hover: $color-very-dark-blue;

$color-text-title-main-news: $color-soft-orange;
$color-text-subtitle-main-news: $color-off-white;
$color-text-subtitle-main-news-hover: $color-soft-orange;

$color-text-title-card-news: $color-very-dark-blue;
$color-text-title-card-news-hover: $color-soft-red;

$color-background-news-main: $color-very-dark-blue;