$font-size-paragraph: 1.5rem;
$font-size-title: 5.4rem;
$font-size-title-main-news: 3.6rem;
$font-size-subtitle-main-news: 2.0rem;
$font-size-number-news-cards: 3.0rem;;
$font-size-subtitle: 1.8rem;
$font-size-button: 2.0rem;