$font-size-paragraph: 15px;
$font-size-title: 5.4rem;
$font-size-title-main-news: 36px;
$font-size-subtitle-main-news: 20px;
$font-size-number-news-cards: 30px;
$font-size-subtitle: 18px;
$font-size-button: 20px;