* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    line-height: 1.6;
    background-color:#FEFDF9;
}

@import "./abstracts/colors";
@import "./abstracts/texts";

.container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

.header {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8.0rem 0 4.8rem 0;
    }
    &__logo {
        width: 64px;
    }
    &__menu {
        &__list {
            list-style-type: none;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-wrap: nowrap;
            gap: 40px;
            &__item {
                a {
                    display: block;
                    text-decoration: none;
                    color: $color-primary-paragraph;
                    transition: color 0.175s;
                    &:hover {
                        color: $color-text-main-menu-hover;
                    }
                }
            }
        }
    }
}   
#main-content {
    padding-bottom: 20vh;
}

.main-news {
    .container {
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr 1fr 1fr;
        overflow: hidden;
        grid-template-rows: 300px 175px;
        grid-template-areas: "hero-image hero-image main-news"
                            "main-title more-info main-news";
    }
    &__hero-img {
        grid-area: hero-image;
        overflow: hidden;
        img {
            display: block;
            width: 100%;
            object-fit: cover;
            
        }
    }
    &__informations__title {
        grid-area: main-title;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 0;
        font-size: $font-size-title;
        font-weight: 800;
        color: $color-text-title;
        line-height: 1.0;
    }
    &__informations__more {
        grid-area: more-info;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        &__paragraph {
            text-align: left;
            color: $color-primary-paragraph;
        }
        &__button {
            color: $color-off-white;
            font-weight: 700;
            cursor: pointer;
            text-transform: uppercase;
            padding: 15px 35px;
            outline: none;
            background-color: $color-button;
            border: none;
            transition: background-color 0.3s;
            letter-spacing: 3px;
            &:hover {
                background-color: $color-very-dark-blue;
            }
        }
    }
    &__aside {
        grid-area: main-news;
        background-color: $color-background-news-main;
        padding: 2.4rem;
        &__subtitle {
            margin: 0;
            font-size: $font-size-title-main-news;
            color: $color-text-title-main-news;
        }
        &__item {
            &:nth-child(2) {
                border: none;
                padding: 2.6rem 0;
            }
            border-top: 1px solid $color-primary-paragraph;
            padding: 2.6rem 0;
            &__subtitle, a {
                text-decoration: none;
                color: $color-text-subtitle-main-news;
                font-size: $font-size-subtitle-main-news;
                font-weight: 700;
                transition: color 0.175s;
                margin-bottom: 5px;
                &:hover {
                    color: $color-text-subtitle-main-news-hover;
                }
            }
            &__paragraph {
                color: $color-secondary-paragraph;
            }
        }
    }
}

.news-cards {
    margin-top: 6.5rem;
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 30px;
    }
    &__item {
        display: flex;
        align-items: stretch;
        gap: 0 20px;
        &__img {
            img {
                display: block;
                width: 98px;
                height: 125px;
                object-fit: cover;
            }
        }
        &__info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            padding: 0 0.5rem 0 0;
            &__number {
                font-size: $font-size-number-news-cards;
                font-weight: 700;
                line-height: normal;
                color: $color-secondary-paragraph;
                margin-bottom: 5px;
            }
            &__title, a {
                text-decoration: none;
                color: $color-text-title;
                font-weight: 800;
                transition: color 0.3s;
                margin-bottom: 5px;
                &:hover {
                    color: $color-text-title-card-news-hover;
                }
            }
            &__paragraph {
                color: $color-primary-paragraph;
            }
        }
    }
}

@media (max-width: 1230px) {
    .main-news {
        .container {
            grid-template-rows: 275px auto;
            grid-template-areas: "main-title hero-image hero-image"
                                "more-info main-news main-news";   
        }
        &__informations__more {
            justify-content:  flex-start;
            &__button {
                margin-top: 50px;
            }
        }
    }
}

@media (max-width: 768px) {
    .main-news {
        word-wrap: break-word;
        .container {
            gap: 20px;
            grid-template-columns: 1fr;
            grid-template-rows: 300px auto auto auto;
            grid-template-areas: "hero-image"
            "main-title"
            "more-info"
            "main-news"
        }
        &__informations__more {
            &__button {
                margin-top: 30px;
            }
        }
        &__aside {
            margin-top: 4.0rem;
        }
    }
}